<footer class="site-footer">
  <div class="site-identity">
    <p><a href="#">&#169;
      <%= new Date().getFullYear() %></a> Made by somdoi | Reference from meduim.com & chat GPT</p>
  </div>
</footer>